.header{
	color: red;
	background-color: pink;
	min-height: 10px;
}
.wrapper{
	overflow: hidden;
}
.content{
	float: left;
	width: 27%;
	text-align: justify;
}
.processoflearning{
	float: left;
	width: 27%;
	border:solid;
	border-color: red;
	background-color: pink;
	text-align: justify;
}
.contact{
	float: left;
	width: 27%;
	text-align: justify;
	
}
.footer{
	color: red;
	background-color: pink;
	min-height: 10px;

}
